*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;

}
.baner-container{
    margin: 40px 100px 40px 100px;
    border: 1px solid gray;
    border-radius: 13px;
    background-color: rgb(146, 146, 253);
    justify-content: left;
    display: flex;
}

.baner-title{
    padding: 40px;
    justify-items: left;
    width: 60%;
    color: white;
}
.title{
   font-size: 4em;
   padding-top:20px;
}

p{
    padding-top: 20px;
    font-size: 1em;
}
button{
    border-style: none;
    cursor: pointer;
}

button :focus{

}
.watch-live{
    padding: 10px 30px 10px 30px;
    background-color: crimson;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin: 20px 0px;
    font-size: 20px;
}

.baner-image{
    width: 40%;
   margin: 10px 10px 10px 20px;
}
img{
    width: 100%;
    height: 100%;
}


.navbar{
    width: 313px;
    height: 313px;
    background-color: rgb(146, 146, 253);
    border: 1px solid gainsboro;
    border-radius: 14px;
    justify-content: center;
    justify-items: center;
    grid-row: 1/ span 1;

}
.option{
    height: 64px;
    width: 250px;
    font-size: 18px;
    margin: 30px 30px 0px 30px;
    border-radius: 14px;
}
.option:hover{
  background-color: crimson;
}


main{
    margin: 0px 100px 40px 100px;
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;

}
 
.artical{
    border: 1px solid #E8E8E8;
    border-radius: 13px;
}
.artical-title{
    padding: 10px;

}
.artical-heding{
    font-size: 18px;
    font-weight: bold;
}

.artical-button{
    padding: 5px 15px 5px 15px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;


    
}

.icon{
   display: flex;
  align-items: center;
  

}
.clock{
    padding: 20px 60px 20px 10px;
}

footer{

    background-color: #161616;
    height: 400px;margin-top: 100px;
}
.Goal{
    font-weight: 600px;
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 100px 0px 0px 30px;
}
hr{
    margin: 40px 0px;
}
.informetion{
 
   text-align: center;
}

.informetion a{
text-decoration: none;
color: #B9B9B9;
padding: 12px;
}

/* media Query for Tablets portrait Mode */
@media(min-width:768px) and (max-width:1024px){
  main{
    grid-template-columns: repeat(2, 1fr);
   }
   main .navbar .menu{
    display: flex;
   }
}

@media(min-width:481px) and (max-width:767px){
    main{
      grid-template-columns: repeat(1, 1fr);
     }
  }

